@import "tailwindcss";





/*define a color that is a class name
hsl is a color, var defines variable
--classname : hsl(var(--varname));*/
@theme{
  --color-background:  hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --color-tertiary: hsl(var(--tertiary));
  --color-quaternary: hsl(var(--quaternary));

  --color-card: hsl(var(--card));



}

@layer base{
    :root {
        --background: 0 0% 0%;
        --foreground: 20 80% 50%;


        --primary: 0 0% 100%;
        --secondary: 20 80% 50%;
        --tertiary: 110 90% 30%;
        --quaternary: 200 100% 50%;

        --card: 0 0% 20%;
    }
}



@utility container {
    margin-inline: auto;
    padding-inline: 2rem;

    {/*To accomodate for various creen sizes:*/}

    @media (width >= 640px){
        max-width: 640px;
    }
    @media (width >= 768px){
        max-width: 768px;
    }
    @media (width >= 1024px){
        max-width: 1024px;
    }
    @media (width >= 1200px){
        max-width: 1200px;
    }
    @media (width >= 1400px){
        max-width: 1440px;
    }
}